 {
  padding: É o preenchimento interno dos Elementos;
  EX: padding: 2 rem "Topo" //  2rem "Direito" // 6rem "Em baixo" // 6rem "Esquerdo" 
  // funciona no sentido de um relógio
}

 {
  margin: É o espaçamento entre um elemento e outro;
}

 {
  box-sizing: É como está sendo a medida da caixa a partir do conteúdo O padrão
      e content-box,
    é o padrão do css;
}


{
  text-aling: É o alinhamento do texto "align = alinhar"
}

{
  font-weight: É peso da fonte "weight = peso"
}

{
  width: É a largura
}

{
  margin-top: significa topo 
}

{
  margin-bottom: margem inferior " parte de baixo"
}

{
  line-height:  È a altura da linha "line = linha"  "height = altura"
}

{
  width: É a largura
}

{
  border-spacing:  ele vai separar a  lateral, eixo vertical e eixo :horizontal
}
